$color-blue: #0E7AC4;
$color-blue-light: #108ee4;
$color-blue-dark: #0c66a4;

$color-green: #58BE89;
$color-green-light: #70c89a;
$color-green-dark: #44b078;

$color-yellow: #FBA848;
$color-yellow-light: #fcb869;
$color-yellow-dark: #fa9827;

$color-red: #DB504A;
$color-red-light: #e16b66;
$color-red-dark: #d5352e;

$color-pink: #F26964;
$color-pink-light: #f58783;
$color-pink-dark: #ef4b45;

$color-grey-light-1: #EEE;
$color-grey-light-2: #cccccc;
$color-grey-light-3: #f8f8f8;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-dark: #333;

$color-line-grey: #e5e5e5;
$color-bg-grey: #e5e5e5;

// style
$default-font-size: 16px;
$max-width: 1024px;
$font: 'PT Sans Caption', sans-serif;
