.u-center-text { text-align: center !important; }

.u-mb-small { margin-bottom: 1.5rem !important; }
.u-mb-medium { margin-bottom: 4rem !important; }
.u-mb-big {
  margin-bottom: 8rem !important;

  @include respond(phone) {
    margin-bottom: 6rem !important;
  }
}

.u-mt-small { margin-top: 1.5rem !important; }
.u-mt-medium { margin-top: 4rem !important; }
.u-mt-big {
  margin-top: 8rem !important;

  @include respond(phone) {
    margin-top: 6rem !important;
  }
}

.u-max-width {
  max-width: $max-width !important;
  margin-left: auto !important;
  margin-right: auto !important;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(phone) {
    width: 90%;
  }
}

.u-width-60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.u-width-40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.u-bg-grey {
  background-color: $color-bg-grey;
}
